

.grid-layout-container{
  height: 100%;
  min-height: 80vh;
  background-color: ghostwhite;
  border-radius: 5px;
}


.dropdown-div{
    margin-left: 10px 500px;
}
.buttons-container-button{
    background-color: ghostwhite;
    color: black;
    border: none;
}
.tabs{
    border-radius: 0px;
    background:#C4C9D6;
    border-radius: 4px;
    display: flex;
        
}
